<!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer id="myFooter">
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>SiteHaritası</strong>
                </h5>
                <hr />
                <p>
                    <a href="/Home/About"><span class="glyphicon glyphicon-star-empty"></span> En Beğenilenler</a><br />
                    <a href="/Home/Mostliked"><span class="glyphicon glyphicon-info-sign"></span> Hakkımızda</a><br />
                    <a href="/Home/Index"><span class="glyphicon glyphicon-th-list"></span> SonYazılanlar</a><br />
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>MyEverNote</strong>
                </h5>
                <hr />
                <p>
                    Tüm Hakları Saklıdır &copy; <br />
                    MyEverNote @DateTime.Now.Year
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>E-Bülten Üyeliği</strong>
                </h5>
                <hr />
                <div class="col-md-10 col-md-offset-1"></div>
                <p>sadsaddsaadssadsaddsasadsad</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="eposta adresiniz">
                    <span class=" input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <span class="glyphicon glyphicon-send"> Gönder</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->
<!-- jQuery -->